<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<div class="card">
  <h5>&nbsp;Hops</h5>
  <p-table
    [value]="hops"
    styleClass="p-datatable-striped"
    responsiveLayout="scroll"
    [globalFilterFields]="['name', 'type', 'form', 'utilization', 'alpha']"
    [scrollable]="true"
    scrollHeight="60vh"
  >
    >
    <ng-template pTemplate="caption">
      <div class="flex">
        <div class="flex align-items-center justify-content-between">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            class="p-button-raised p-button-rounded p-button-outlined p-button-success mr-2"
            (click)="openNew()"
          ></button>

          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($event.target.value, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="type">
          Type <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="form">
          Form <p-sortIcon field="form"></p-sortIcon>
        </th>
        <th pSortableColumn="alpha">
          Alpha <p-sortIcon field="alpha"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hops>
      <tr>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editHops(hops)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteHops(hops)"
          ></button>
        </td>
        <td>{{ hops.name }}</td>
        <td>
          <nb-icon
            *ngIf="hops.type == 'Both'"
            icon="bittering"
            pack="hops"
          ></nb-icon>
          <nb-icon
            *ngIf="hops.type == 'Both'"
            icon="aroma"
            pack="hops"
          ></nb-icon>
          <nb-icon
            *ngIf="hops.type != 'Both'"
            icon="{{ hops.type.toLowerCase() }}"
            pack="hops"
          ></nb-icon>
          {{ hops.type }}
        </td>
        <td>
          <nb-icon icon="{{ hops.form.toLowerCase() }}" pack="hops"></nb-icon>
          {{ hops.form }}
        </td>
        <td>{{ hops.alpha }}&nbsp;%</td>
      </tr>
    </ng-template>
  </p-table>
</div>
